@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.display-content {
    text-align: center;
    margin-top: 50px;
}

.btn {
    border: none;
    color: #fff;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn-1 {
    background-color: #28348A;
}

.btn-1:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 64px;
    background: rgba(255, 225, 225, .3);
    border-radius: 10px;
    transition: all 2s ease;
}

.btn-1:hover:before {
    width: 100%;
}

.btn-2 {
    background-color: #772150;
}

.btn-2:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 225, 225, .3);
    border-radius: 10px;
    transition: all 2s ease;
}

.btn-2:hover:before {
    height: 64px;
}

.btn-3 {
    background: #009C3D;
}

.btn-3:hover {
    background: rgba(0, 0, 0, 0);
    color: #009C3D;
    box-shadow: inset 0 0 0 3px #009C3D;
}

.btn-4 {
    background: #f18f01;
}

.btn-4:hover {
    animation: bounce 1s;
}

.btn-5 {
    background: #bd3a34;
}

.btn-5:hover {
    transform: skew(-10deg);
}

.btn-6 {
    background: #376693;
    transform-style: preserve-3d;
}

.btn-6:after {
    top: -100%;
    left: 0px;
    width: 100%;
    padding: 20px;
    position: absolute;
    background: #3A9999;
    border-radius: 10px;
    box-sizing: border-box;
    content: '6 btn';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.btn-6:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}
